@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">歡迎使用預約系統</h1>
    <img src="images/pexels-pixabay-159213.jpg" width="50%" height="50%" />
</div>
